/* ? START MEDIA QUERY */

@media (min-width:768px) {
    .sub-container {
        grid-template-columns: 1fr 500px 1fr;
        grid-template-areas:
            ". header ."
            ". article ."
            ". nav ."
            ". section ."
            ". footer .";
    }
}

@media (max-width:500px) {

    #name-wrapper,
    .confirm-wrapper {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

/* ? END MEDIA QUERY */